:root {
    --tan:#fcf9f4;
    --brown:#d2bbad;
    --green:#c2c5bc;
    --lightpink:#efe0dd;
    --lightred:#eeccc3;
    --lightgreen:#dbded5;
    --purple: #715c87;
}
* {
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    border: 5px solid white;
    height:1000px;
    background: #715C87;
    background: -moz-linear-gradient(top, #715C87 0%, #2590D7 100%, #71B4C5 100%);
    background: -webkit-linear-gradient(top, #715C87 0%, #2590D7 100%, #71B4C5 100%);
    background: linear-gradient(to bottom, #715C87 0%, #2590D7 100%, #71B4C5 100%);
    border:#c2c5bc
}
#header{
    border: 1px solid white;
    background: #fff url(/assets/weather.jpg) center top/cover repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #dac7ed;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: none;
    text-align:center;
    text-shadow: 2px 2px 2px #FFFFFF;
    padding: 20px;
    height:100px;
}
#header2{
    padding: 25px;
    border-right: 1px solid white;
}
#city_search{
    padding: 25px;
    border-right: 1px solid white;
}
#cities{
    padding: 25px;
    padding: 25px;
    border-right: 1px solid white;
}
#weather_display {
    height: 250px;
    padding: 25px;
}
#current_forecast{   

   height: 250px;
   padding: 25px;
}
.forecast_card{
    border: 1px solid white; 
    display: inline-grid;
    flex-direction: row;
    justify-content: space-between;
}

